body{
	background: #fff;
}
header{
	width: 990px;
	height: 80px;
	margin: 0px auto;
	
}


header h1{
	margin-top: 16px;
	width: 173px;
	height:52px; 
	margin-right: 20px;
	float: left;
	overflow: hidden;
}
header h1 img{
	height: 52px;
}
header h2{
	width: 100px;
	margin-top: 36px;
	float: left;
}
header h2 img{
	width: 100px;
}

main{
	height: 475px;
	background: #ea3754;	
}
main .con{
	width: 990px;
	height: 475px;
	margin: 0px auto;
	background: url("../images/51fdeeb213231c01.jpg");
}
.pang-login-all{
	width: 346px;
	/*height: 428px;*/
	margin-top: 10px;
	float: right;
	background: #fff;
}
.pang-login-all>p{
	line-height: 39px;
	font-size: 12px;
	color: #999999;
	background:#fff8f0;
	text-align: center;	
	width: 346px;
	position: relative;
}
.pang-login-all>p span{
	width: 16px;
	height: 16px;
	background: url("../images/icon-tips.png");
	position: absolute;
	top:12px;
	left:22px;
}
.pang-login-all>ul{
	width: 346px;
	height: 54px;
	border-bottom: 1px solid #f4f4f4;
}
.pang-login-all>ul>li{
	line-height: 17px;
	font-size: 17px;
	width: 170px;
	border-right:1px solid #f4f4f4;
	text-align: center;
	color: #666666;
	margin-top: 18px;
	float: left;
}
.pang-login-all>ul>li:hover{
	color: #e4393c;
	font-weight: bold;
}
.pang-login-all .redd{
	color: #e4393c;
	font-weight: bold;
}

.pang-login-all .pang-mid-top{
	height: 187px;
	position: relative;	
}
.pang-login-all .mid1{
	width: 162px;
	height: 155px;
	border: 1px solid #f4f4f4;
	position: absolute;
	top: 19px;
	left:84px;
	padding: 10px;
}
.pang-login-all .mid1 img{
	width:162px;
	height: 155px;
}

.mid>p{
	margin-top: 24px;
	text-align: center;
	font-size: 12px;
	color:#666666; 
}
.mid>p a{
	color: red;
	text-decoration: none;
	margin-right: 14px;
}
.mid>ul{
	height: 25px;
	margin-top: 16px;
	margin-left: 60px;
}
.mid>ul>li{
	float: left;
	margin-right: 18px;
	line-height: 25px;
	padding-left: 33px;
	font-size: 12px;
	color: #999999;
	position: relative;
}

/*账户登录*/
.pang-login-all .pang-midd{
	width: 306px;
	/*height: 283px;*/
	padding: 0px 20px;
	position: relative;
}
.pang-midd input{
	width: 255px;
	padding-left: 49px;
	outline: none;
	border: 0px;
	border:1px solid #bdbdbd;	
	height: 39px;
}
.tipp{
	line-height: 18px;
	width: 264px;
	padding-left: 40px;
	font-size: 12px;
	color: red;
	background: #ffebeb;
	border: 1px solid #faccc6;
	position: absolute;
}
.tipp span{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 0px;
	left: 10px;
	background: url("../images/pwd-icons-new.png")no-repeat -103px -48px;
}
.pang-midd .inp1{
	margin-top: 32px;
}
.pang-midd>span:nth-of-type(1){
	width: 39px;
	height: 39px;
	position: absolute;
	top: 34px;
	left: 22px;
	background: url("../images/pwd-icons-new.png") no-repeat 0px 0px;
	border-right:1px solid #bdbdbd;
}
.pang-midd .inp2{
	margin-top: 19px;
}
.pang-midd>span:nth-of-type(2){
	content: "";
	width: 39px;
	height: 39px;
	position: absolute;
	top: 93px;
	left: 22px;
	background: url("../images/pwd-icons-new.png") no-repeat -48px 0px;
	border-right:1px solid #bdbdbd;
}

.pang-midd .forget{
	text-align: right;
	margin-top: 22px;
	color: #666666;
}
.pang-midd .forget>a{
	color: #666666;
	text-decoration: none;
}
.pang-midd .forget>a:hover{
	color: red;
	text-decoration: underline;
}
.pang-midd button{
	margin-top: 21px;
	width: 304px;
	line-height: 35px;
	font-size: 19px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: #e4393c;
	border: none;
	outline: none;
	margin-bottom: 29px;
	border-left: 2px solid #cb2a2d;
	border-top: 2px solid #cb2a2d;
}


.bot>ul>li{
	float: left;
	padding-left:24px;
	padding-right: 15px;
	border-right: 1px solid #d5ccd5; 
	margin-left: 11px;
	color: #666666;
	position: relative;

}

.bot>ul>li:nth-of-type(1) span{
	width: 19px;
	height: 19px;
	background: url("../images/QQ-weixin.png") no-repeat 0px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.bot>ul>li:nth-of-type(2) span{
	width: 19px;
	height: 19px;
	background: url("../images/QQ-weixin.png") no-repeat -20px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}

footer p{
	text-align: center;
	font-size: 11px;
	color:#666666;
}


